<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dva Demo</title>
  <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101419757" data-redirecturi="http://www.guijianshi.cn" charset="utf-8"></script>
  <link rel="stylesheet" href="/public/blog/index.css" />
  <link rel="stylesheet" href="/public/blog/public.css" />
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_384095_t7df208v7czncdi.css">
</head>
<body>
<script type="text/javascript" color="33,125,156" opacity='0.9' zIndex="-2" count="198" src="http://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
<div id="root"></div>

<script src="/public/blog/index.js"></script>
<script type="text/javascript">
  /*var paras={}
  QC.api("get_user_info", paras)
  //指定接口访问成功的接收函数，s为成功返回Response对象
    .success(function(s){
        if(QC.Login.check()){
            QC.Login.getMe(function(openId, accessToken){
                /!*alert(["当前登录用户的", "openId为："+openId, "accessToken为："+accessToken].join("\n"));*!/
            });
        }
        alert(1)
        console.log(window.opener)

        if(window.opener){
            window.opener.a()
            /!*window.opener.QC.api("get_user_info", {}).success(function (s) {
                alert(2)
                console.log(s)
            }).error(function (s) {
                console.log(s)
            }).complete(function (s) {
                console.log(s)
            })*!/
            window.opener.QC.Login.signOut()
        }

       /!* window.opener.location.reload(); //刷新父窗口中的网页*!/
        /!*window.close();*!/
      //成功回调，通过s.data获取OpenAPI的返回数据
        console.log(s)
      /!*alert("获取用户信息成功！当前用户昵称为："+s.data.nickname);*!/
    })
    //指定接口访问失败的接收函数，f为失败返回Response对象
    .error(function(f){
      //失败回调
     /!* alert("获取用户信息失败！");*!/
    })
    //指定接口完成请求后的接收函数，c为完成请求返回Response对象
    .complete(function(c){
      //完成请求回调
        console.log(c)
      /!*alert("获取用户信息完成！");*!/
    });
    function a() {
        alert(3)
    }*/
</script>
</body>
</html>
