.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
body{
  color: black;
}
.ant-carousel .slick-slide{
  text-align: center;
  max-height: 260px;

  position: relative;
  margin-top: 10px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}
.ant-carousel .slick-slide img{
  width: 100%;
  height: 100%;
}
.ant-carousel .slick-slide h3{
  position: absolute;
bottom: 5px;
  z-index: 111;
}
.ant-card{
  text-align: left;
  margin-top: 20px;
}

.ant-card-abs{
  z-index: 111;
  transition:  all .4s;
  opacity: 0;
  position: absolute;
  right: 14px;
  bottom: 0px;
}
.cardCname{


  padding: 5px;
  border-bottom: 1px solid  rgb(211,211,211);
  border-right: 1px solid  rgb(211,211,211);
  transition:  all .4s;
  opacity: 1;
  position: absolute;
  left: 0px;
  top: 0px;
}
.articleCard .ant-card-body{
  padding: 40px 26px 24px 56px
}
.articleCard .commentCard .ant-card-body{
  padding: 15px
}
.articleCard:hover{

  box-shadow: 0 5px 8px rgb(211,211,211)!important;
}
.articleLink:hover{
  color:rgb(16, 142, 233)!important;
}
.articleLink:hover .articleIndex{

  font-size:18px;
  font-weight: 700;
}
.articleCard:hover .apHover{
  left: 50px;
}
.articleCard:hover .cardCname{
  font-weight: 700;
  }

/*@keyframes apHoverMove {

  100% {

    left: 50px;
  }
}*/
.apHover{
  transition: left .3s ;
  position: relative;
  left: 20px;
}
.ant-card:hover .ant-card-abs{
  opacity: 1;
}
.articleContent,.articleCard{
  transition: all 1s;
}
.singleCard{

  position: absolute;
  z-index: 999;
}
.InitCard{
  display: none;
}
.doneCard{
  display: block;
  animation: show .6s forwards ease-out;
  transform: scaleX(0.1);
  height: 60px;
  left: 420px;
  top:0px;

}
@keyframes show {
  0% {
    height: 60px;
    transform: scaleX(0.1);
  left: 420px;
  top: 150px;
  }
  50% {
    height: 60px;
    transform: scaleX(0.9);
    left: 0;
    top: 150px;
  }
  99% {
    height:800px;
    transform: scale(1);
    left: 0;
    top: 0;
  }
  100%{
    transform: scale(1);
    left: 0;
    top: 0;
    height:100%
  }

}
.minH{
  min-height: 1000px;
}
.rotate{
  display: inline-block;
  line-height: 16px!important;
  transition: all .8s;
}
.ant-card:hover .rotate{

  animation: rota 1.4s ease-out infinite;
}
@keyframes rota {
  50%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
  }
}
.ant-menu-item-selected a{
  color: #108ee9!important;
}
.center{
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
.header{


  background:no-repeat  ;
}

.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane-inactive{
  display: none;
}



/* 评论卡片 */
.commentCard{
  position: relative;
}
.commentCard .ant-spin-dot{
  position: absolute;
  z-index: 1111;
  top: 24px;
  left: 45%;
}
.commentLi{
  font-size: 14px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(233,233,233);
}
.commentHeader{
  height: 27px;
  margin-bottom: 5px;
}
.commentCreateTime{
  float: right;
}
.commentContent{
  line-height: 25px;
  margin-bottom: 5px;
}
.writeComment{
  position: relative;
  padding: 20px 70px 10px 0px;
}
.commentBtn{
  position: absolute!important;
  right: 5px;
  bottom: 10px;
}



/*颜色改变*/
body .ant-tag{
  padding: 0 10px;
 background: transparent;
  border-radius: 50px;
}
/*.ant-card-body .defaultTag{
  color: #bfbfbf!important;
  border-color: #bfbfbf!important;
}*/

/*搜索关键字的样式*/
.sKey{

  color: #c00;
}




.introUl li{
  font-size: 24px;
  padding: 3px 0 ;
  float: left;
  margin-right: 15px;
}
.introUl .iconfont{
  font-size: 24px;
  cursor: pointer;
}
.icon-weibo1:hover{
  color: rgb(243,38,31);
}
.icon-zhihu:hover{
  color: rgb(19,137,233)
}
.icon-githubsquare:hover{
  color: rgb(19,34,122);
}
.icon-youxiang:hover{
  color: rgb(60,178,103)
}

.ant-card-body .ant-tag{
  transition: all .3s;

}
.ant-card-body .tagGroup{
  transition: all .3s ;
  position: relative;
  left: 0;

}
.ant-card-body:hover .tagGroup{

  left: 30px;

}
.ant-card-body:hover .ant-tag{

display: inline-block;
  height: 22px;
}

/*.defaultTag{
  color:rgb(150,150,150)!important;
  border-color:rgb(150,150,150)!important;
}
.defaultTag:hover{
  color: transparent;
  border-color: transparent;
}*/
body .ant-card-bordered {
  border: 1px solid rgb(211,211,211);
}
body .ant-card-head {
  border-bottom: 1px solid rgb(211,211,211);
}

.none{
  display: none;
}
.transition{
  transition:all .3s
}
.process {
  border: 10px solid transparent;
  border-left: 20px solid #f00;
  width: 0;
  height: 0px;
}

.rightContent{-moz-user-select: none; -khtml-user-select: none; user-select: none;}
.ant-card .sizeI{

  position: absolute;
  right: 0;
  top: -10px;
  color: rgb(150,150,150);
  font-size: 20px;
cursor: pointer;
}
.sizeI:hover{
  font-weight: 700;
  color: black;
}
/*@keyframes fBigger {
  50%{
    font-weight: 700;
    !*right: -3px;
    top: -16px;
    font-size: 24px;*!
  }
  100%{
    font-weight: 500;
    !*right: 0;
    top: -10px;
    font-size: 18px;*!
  }
}*/


.absTags{
  position: absolute;

}

.whiteMenu.ant-menu-horizontal > .ant-menu-item > a{
  color: white!important;
}
.fixMenu.ant-menu-horizontal > .ant-menu-item > a{
  color: rgba(0,0,0,0.9);
}

 .fixHeader{

   position: fixed;
   opacity: 0;
   visibility: hidden;
   top: 0;
   z-index:999999;
   border-bottom: 1px solid rgb(211,211,211);
   height: 52px;
   background: white;
   width: 100%;

 }
.fadeOut{

  animation: fadeOut .6s forwards;
}
.fadeIn{
  visibility: visible;
  animation: fadeIn .6s forwards;
}
@keyframes fadeOut {
  0%{
    visibility: visible;
    opacity: 0.9;

  }

  100%{
    visibility: hidden;
    opacity: 0;

 /* display: none;*/
  }
}
@keyframes fadeIn {
  100%{
    opacity: 0.9;

  }
}
body .goTop{
  color: rgb(180,180,180);
  font-size: 60px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  animation: cColor .4s linear;
}
body .go{
  color: rgb(18,150,219);
  animation: rotate .8s linear forwards;
}
@keyframes cColor {

  50%{
    color: rgb(18,150,219);
  }
  100%{
    color: rgb(180,180,180);
  }
}
@keyframes cColorFire {

  50%{
    color: rgb(216,30,6);
  }
  100%{
    color: rgb(180,180,180);
  }
}
@keyframes rotate {
  80%{

    transform: rotateY(1080deg);
    bottom: 120px;
  }
  100%{
    bottom: 1100px;

  }
}
body .fire{
  animation: cColorFire .4s linear;
  bottom: -2px;
  left: 18px;
  font-size: 24px;
  transform: rotate(180deg);
;
}
body .goTop:hover .fire{
  color: rgb(216,30,6);
}
body .goTop:hover {
  color: rgb(18,150,219);
}

.ant-card-body img {
  max-width: 100%;
}

.fadeBacImg{
  background-size:100% 300px ;
  transition: 1s all;
  height: 300px;
  width: 100%;
  position: absolute;
  z-index: -2;
  left: 0;
  opacity: 0;
  top: 0;
}
.fadeActive{
  z-index: -1;
  opacity: 1;
}
.catelog{
padding: 10px;
  width: 250px;
  border-top:1px solid rgb(233,233,233);
}
.catelog li{
  color: rgb(200,200,200);
  font-weight: 700;
  cursor: pointer;
  line-height: 25px;
  margin-top: 5px;
  font-size: 14px;
}
.catelog li:not(:first-child):hover{
  color: rgb(16,142,233);
}
.catelogAbs{
  position: absolute;
  top: -25px;
  left: -300px;
}
