

.dataTable  .ant-select-selection-selected-value i{
  display: inline-block;
  float: right;
  line-height: 26px!important;
}
.dataTable .ant-select-selection-selected-value{
  width: 100%!important;
}
body .ant-upload-list-picture-card .ant-upload-list-item{
  width: 196px;
  height: 196px;
}
body .ant-upload.ant-upload-select-picture-card{
  width: 196px;
  height: 196px;

}
body .ant-upload.ant-upload-select-picture-card .ant-upload>div{
  font-size: 16px;
  margin-top: 60px;
  font-weight: 600;
}
